img {
    width: 10%;
    height: 100px;
    float: right;
    border: black;

}
img {
    width: 10%;
    float: left;
}
tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border:1px solid black;
    padding: 2px;
}
body {
    background-color: aquamarine;
}